<div class="card">
    <div class="card-header">
        <div class="card-title"><%= Login.Title %></div>
        <div class="card-subtitle"><%= Login.Subtitle %></div>
    </div>
    <div class="card-group">
        <div class="is-login-form">
            <div class="form-group">
                <div class="form-control">
                    <span class="form-control-label fa fa-user-circle-o"></span>
                    <input type="text" autocomplete="off" class="is-username-input is-input is-normal-input sgLoginUsername" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <span class="form-control-label fa fa-lock"></span>
                    <input type="password" autocomplete="off" class="is-password-input is-input is-secured-input sgLoginPassword" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="is-login-button sgLoginForm"><%= Login.LogButton %></button>
    </div>
</div>